main{
    min-height: 85vh;
}

.padd{
    padding-left: 20px;
    padding-left: 20px;

}
.marg{
    margin-left: 15px;
}

.product-title{
    min-height: 50px;
}

.btn-full{
    width: 100%;
    text-transform: uppercase;
}

a {
    color: white !important;
    text-decoration: none !important;
}

h1{
    padding: 1rem 0;
    font-size: 1.8rem;
}

h1{
    padding: 1.4rem 0;
    font-size: 1.4rem;
}